div{
    position:relative;
}
.main{
    min-height:90vh;
}
.footer{
    position:relative;
    bottom:-5vh;
    height:5vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 18%, rgba(241,0,209,1) 20%, rgba(255,255,255,1) 38%);
}