div{
    /* border:1px solid purple; */
    position:relative;
}
.main{
    background:black;
    min-height:90vh;
}
.footer{
    position:relative;
    bottom:0px;
    height:5vh;

    background: linear-gradient(180deg, rgba(0,0,0,1) 18%, rgba(241,0,209,1) 20%, rgba(255,255,255,1) 38%);
}
.main-admin{
    /* background-image: url("../img/wallpaper.webp");
    background-size: 25%; */
}
.navbar{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 18%, rgba(241,0,209,1) 20%, rgba(255,255,255,1) 38%);
}

.login-form h1{
    color:#e924c8;
}