.timeline-container{
    position:relative;
    height:100%;
}
.events{
    padding-top:10px;
}
.event-block{
    border:1px solid e924c8;
    background-size: 13%;    
    margin-top:10px;
    border-radius: .35em;
}
.event-title{        
    position: absolute;
    padding-top:4px;
    width: max-content;
    font-family: 'Fira Code', monospace;
}
.short{
    margin-left:10px;
}

/* Admin */

.event-list{
    border-top:1px solid black;
    border-right:1px solid black;
    background-color: rgba(255, 255, 255, 0.90);
    height: 550px;
    overflow-y:auto;
}

.event{
    margin:1em;
    border:1px solid black;
    padding-left:1em;
    padding-right:1em;
}
.event i {
    cursor:pointer;
}
.event-header{
    background:lightgray;
}
.event-desc{
    padding:.5em;
}