.timeline-container{
    position:relative;
    height:100%;
}
.events{
    padding-top:0px;
}
.event-block{
    margin-top:10px;
    border-radius: .35em;
    cursor:pointer;
    top:40px;
}
.event-title{        
    position: absolute;
    padding-top:4px;
    width: max-content;
    font-family: 'Fira Code', monospace;
}
.short{
    margin-left:10px;
}
.event-list{
    height: 550px;
    overflow-y:auto;
}

.event{
    margin:1em;
    padding-left:1em;
    padding-right:1em;
}
.event i {
    cursor:pointer;
}
.event-header{
    background:lightgray;
}
.event-desc{
    padding:.5em;
}
.dates{
    height:20px;
}
.date-title{
    position:absolute;
    font-size:small;    
    width:max-content;
    transform:rotate(90deg);    
}
.date-block{
    position:absolute;
    width:max-content;
    top:23px;
}
.description{
    position: absolute;
    width: 29vw;
    top: 6vh;
    left: 50vw;
    height: 27vh;
    display:none;
}
.desc-box-header{
    text-align:right;
    height:3vh;
}
.fas{
    margin-right:.5em;
}
#desc-title{
    margin-right: 2em;
}
#desc-box-body{    
    padding:.1em;   
    position: absolute;
    height: 24vh;
    padding-bottom:25px;
    overflow-y:auto; 
}