.timeline-container{
    position:relative;
    height:100%;
}
.events{
    padding-top:0px;
}
.event-block{
    margin-top:10px;
    border-radius: .35em;
    cursor:pointer;
    top:40px;
}
.event-title{        
    position: absolute;
    padding-top:4px;
    width: max-content;
    font-family: 'Fira Code', monospace;
}
.short{
    margin-left:10px;
}
.event-list{
    height: 550px;
    overflow-y:auto;
}

.event{
    margin:1em;
    padding-left:1em;
    padding-right:1em;
}
.event i {
    cursor:pointer;
}
.event-header{
    background:lightgray;
}
.event-desc{
    padding:.5em;
}
.dates{
    height:0px;
}
.date-title{
    position:absolute;
    top:-15px;
    left:-9px;
    font-size:small;    
    width:max-content;
    transform:rotate(90deg);    
}
.date-block{
    position:absolute;
    width:30px;
    height:25px;
    top:23px;
    border-left:1px solid black;
}
.description{
    position: absolute;
    width: 80vw;
    top: 6vh;
    left: 0px;
    height: 27vh;
    display:none;
}
.desc-box-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:3vh;
}
.fas{
    margin-right:.5em;
}
#desc-title{
    margin-right: 2em;
    overflow-x:hidden;
}
#desc-box-body{    
    padding:.1em;   
    position: absolute;
    height: 24vh;
    padding-bottom:25px;
    overflow-y:auto; 
}

@media only screen and (min-width: 1000px) {
    .description {
      width:29vw;
    }
  }