.tag-timeline{    
    position:relative;
    display:block;
    width:max-content;
    background-color: rgba(255, 255, 255, .5);
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid grey;
    border-bottom:1px solid grey;
    padding:0;
    margin: -5px;
    margin-bottom:10px;
    cursor:pointer;
}
.user-name{
    padding-bottom:2em;
}
.tag-header-timeline{
    position:relative;
}
.tag-header-admin{
    position:relative;
}

.tag-admin{
    position:relative;
    padding:.25em;
    border:1px dotted lightgray;
    display:inline;
    cursor:pointer;
}

/* For the admin input screen */
.tag-box{
    border-left:1px solid black;
    border-bottom:1px solid black;
    border-right: 1px solid black; 
    padding:1em; 
    
}
.active-tag{
    
    
}